/*Entire site*/
body{
	background-color: rgb(100,0,0);
	font-family: Tahoma, sans-serif;
	margin: 0.5%;
}

img {
	width: 95%;
	object-fit: contain;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: 'Damion', cursive;
}

.main-nav {
  display: inline-block;
  float: left;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  display: block;
}

#headline_logo {
	object-fit: contain;
}
