/*Entire site*/
html, body {
	background-color: rgb(100,0,0);
	font-family: Tahoma, sans-serif;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0.75em;
}

img {
	width: 100%;
	object-fit: contain;
	margin: 1.5%;
	display: block;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: 'Damion', cursive;
}

h2 {
	text-align: center;
	color: white;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: rgb(255,53,129);
	font-family: 'Damion', cursive;
}

ul {
	list-style: none;
	list-style-position: inside;
	margin: 5%;
	padding: 0;
}

/*header image*/
#header-logo {
	width: 87%;
	margin: 2em 1em;
}

/*clear fix */
.group::before, .group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  *zoom: 1;
}

/*navigation for mobile devices*/
.main-nav img {
	display: none;
}
.main-nav h4 {
	margin: 1em 0 0 0;
	background-color: rgba(255,53,129,0.5);
}

.icon-menu {
  font-size: 2em;
	display: inline-block;
  float: left;
}

.main-nav {
  display: inline-block;
  float: left;
}

.main-nav nav {
  display: none;
  padding: 0;
	margin: 0;
	width: 32%;
}

.main-nav:hover nav {
  display: inline-block;
	position: absolute;
	background-color: rgb(100,0,0);
}

.main-nav li {
	font-size: 1em;
}

/*footer*/
footer {
	clear: both;
}

#copyright {
	text-align: center;
	font-size: 1em;
	color: white;
	margin: 2em;
}
