/*Home Page*/
#Debut_EP {
	margin-top: 40px;
	font-size: 24px;
	font-family: Segoe Script;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: center;
	color: white;
}
#la {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#listen_on_soundcloud {
	display: block;
	text-decoration: none;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
	text-align: center;
	font-family: Segoe Script;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 400px;
}
#listen_on_soundcloud:hover {
	background-color: rgb(255,53,129);
}
#copyright {
	text-align: center;
	font-family: Tahoma;
	font-size: 10px;
	color: white;
	position: relative;
	bottom: -85px;
}
