/*Home Page*/
h2 {
	text-align: center;
}

#listen_on_soundcloud {
	display: block;
	text-decoration: none;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Damion', cursive;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
}

#listen_on_soundcloud:hover {
	background-color: rgb(255,53,129);
}

#album-art {
	text-align: center;
	justify-content: center;
}
