@media only screen and (min-width: 480px) {
	#album-art {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	#listen_on_soundcloud {
		max-width: 400px;
	}
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1224px) {

}

@media {
	#headline_logo:hover {
		-webkit-filter: contrast(10%);
		filter: contrast(10%); /* Firefox */
	}

}
