/*Music*/
#Music_Headline{
	display: block;
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 90%;
	font-family: Segoe Script;
	font-size: 60px;
	font-weight: bold;
	color: white;
}
#discography1pic {
	display: inline-block;
	margin-left: 500px;
	margin-top: 40px;
}
.discography1info {
	display: block;
	margin-left: 710px;
	margin-top: -208px;
	font-family: Tahoma;
	font-size: 20px;
	color: white;
	width: 20%;
}
#discography1_listen {
	display: block;
	margin-left: 710px;
	margin-top: -10px;
	margin-right: 568px;
	font-family: Tahoma;
	font-size: 20px;
	color: white;
	border: 1px solid white;
	background-color: rgb(200,0,0);
	text-decoration: none;
	text-align: center;
	width: 6%;
}
#discography1_listen:hover {
	background-color: rgb(255,53,129);
}
